@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Rubik", sans-serif !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.ts-particles {
  position: fixed;
  z-index: -1;
}

.reader-c2e {
  align-items: center;
  height: calc(100vh - 24px);
  max-width: 1440px;
  margin: 0 auto;
}

.reader-c2e .header-logo {
  width: 80px;
}

.reader-c2e .img-box {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}
.text-detail {
  max-width: 500px;
}
.text-space {
  margin-top: 45px;
}
.reader-c2e .uploadBox {
  /* flex: 1; */
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.reader-c2e .uploadBox .box,
.uploadBox .box {
  border: 1px solid #ccc;
  max-width: 500px;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 1px 10px 2px #efefef;
}

.modial-iner-box .small-box-style {
  border: none !important;
  box-shadow: none !important;
}
.reader-c2e .uploadBox h1,
.uploadBox h1 {
  font-size: 32px;
}

.reader-c2e .uploadBox .iconbox {
  /* border: 6px solid #ccc; */
  width: 92px;
  height: 92px;
  border-radius: 50%;
  margin: 50px auto 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.reader-c2e .uploadBox .iconbox img {
  width: 40px;
}
.reader-c2e .reader-main {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 20px clamp(24px, 7vw, 120px);
  gap: 36px;
  overflow-y: auto;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .reader-c2e .reader-main {
    justify-content: flex-end;
    flex-direction: column-reverse;
  }
  .reader-c2e .uploadBox {
    flex-shrink: 1;
  }
}

.reader-c2e .uploadBox button {
  background-color: #084892;
  border: none;
  padding: 10px 30px;
  color: #fff;
  border-radius: 5px;
}

.reader-c2e .footer-all {
  text-align: center;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.reader-c2e .footer-all a {
  color: #000;
}

.reader-c2e .playlist-informtion {
  margin: 20px 30px;
  background: #fff;
  box-shadow: 1px 1px 10px 2px #efefef;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
@media (max-width: 480px) {
  .reader-c2e .playlist-informtion {
    margin: 0;
    padding-top: 0;
    border: none;
    box-shadow: 0px 0px 0px 0px;
  }
  .reader-c2e .uploadBox .box {
    padding: 16px;
  }
}
.reader-c2e .playlist-informtion button {
  background-color: #084892;
  border: none;
  padding: 5px 30px;
  color: #fff;
  border-radius: 5px;
  float: right;
  margin-bottom: 20px;
}
.reader-c2e .second-view {
  display: flex;
  clear: both;
  display: flex;
  gap: 10px;
}

@media (max-width: 991px) {
  .reader-c2e .second-view {
    flex-direction: column-reverse;
    clear: both;
    display: flex;
    gap: 10px;
  }
}
.reader-c2e .second-view .info {
  flex: 1;
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

.reader-c2e .second-view .accordian-c2e {
  flex: 4;
}

.reader-c2e button.accordion-button {
  background-color: #084892;
  color: #fff;
  border: none;
  padding: 10px;
  margin: 0;
  float: none;
}

.accordion-button::after {
  background-image: url("assets/images/icons/down-icon.svg") !important;
}
.reader-c2e .accordion-item {
  max-height: 530px;
  overflow-y: auto;
}

.reader-c2e .accordion-item .accordion-body {
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

/* .reader-c2e .accordion-body:hover {
  background-color: #ccc;
} */

.reader-c2e .activity-detail {
  display: flex;
  gap: 15px;
  align-items: center;
}

.reader-c2e .activity-detail img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
}
.header .login {
  background-color: #084892;
  border: none;
  padding: 10px 30px;
  color: #fff;
  border-radius: 5px;
  height: 50px;
  width: fit-content;
  margin-left: auto;
}

.header .login-user {
  display: flex;
  gap: 16px;
}

.header .user-info {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.header .user-info img {
  width: 42px;
  border-radius: 50%;
}
.header .user-info h2 {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

@media (max-width: 668px) {
  .header {
    padding: 42px 24px;
  }
  .header .login-user {
    flex-direction: column-reverse;
  }

  .header .user-info h2 {
    font-size: 14px;
  }
}
.big-loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #050505;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  color: #fff;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.big-loader h4 {
  font-size: 32px;
}

.big-loader p {
  font-size: 20px;
}

.big-loader img {
  width: 50px;
  margin-top: 10px;
}

.big-loader .flex {
  display: flex;
  gap: 10px;
}

.e-commerce-stor {
  /* width: 500px; */
  padding: 10px 0 0 0px;
}
.e-commerce-stor .selection-stor-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 24px;
}
.selection-box {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 50px;
  padding-top: 20px;
}

.selection-box .box,
.selection-stor-box .box {
  width: 200px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #efefef;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 4px 1px #eeeded;
}
.selection-stor-box .box:hover {
  /* box-shadow: 0px 0px 0px 0px #eeeded; */
  border-bottom: 4px solid #f8af2c;
}
.selection-stor-box img {
  width: 120px;
}
.selection-box img {
  width: 100px;
}

.c2e-lisence h2 {
  font-size: 22px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.c2e-lisence h3 {
  font-size: 18px;
}

.c2e-lisence .form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.c2e-lisence input {
  border-radius: 5px;
  height: 40px;
  border-color: #ccc;
  outline: none;
  padding-left: 10px;
}

.c2e-lisence label {
  font-size: 16px;
  padding-bottom: 5px;
}

.c2e-lisence a {
  padding-top: 20px;
  display: block;
}

.c2e-lisence button {
  margin-top: 20px;
}

.c2e-lisence .error {
  color: red;
  font-size: 12px;
}

/* reader-c2e tabs */
.reader-c2e .nav-tabs .nav-item .nav-link {
  color: #212529;
  border: none;
}
.reader-c2e .nav-tabs .nav-item button .d-flex {
  gap: 4px;
}

.reader-c2e .nav-tabs .nav-item .nav-link.active {
  color: #0c63e4;
  border-bottom: 2px solid #0c63e4;
}

.reader-c2e .nav-tabs .nav-item .nav-link.active .blue-file-icon {
  display: block;
}
.reader-c2e .nav-tabs .nav-item .nav-link.active .black-file-icon,
.reader-c2e .nav-tabs .nav-item .nav-link .blue-file-icon {
  display: none;
}

.sec-btn {
  color: #0c63e4 !important;
  background-color: #fff !important;
  border: 1px solid #0c63e4 !important;
  display: flex !important;
  align-items: center;
  gap: 6px !important;
}

.sec-btn .blue-add-icon,
.sec-btn .blue-listing-icon,
.sec-btn:hover .white-add-icon,
.sec-btn:hover .white-listing-icon {
  display: block;
}
.sec-btn .white-add-icon,
.sec-btn .white-listing-icon,
.sec-btn:hover .blue-add-icon,
.sec-btn:hover .blue-listing-icon {
  display: none;
}

.sec-btn:hover {
  color: #ffffff !important;
  background-color: #0c63e4 !important;
}

.right-aligned-modal {
  max-width: 100% !important;
  min-height: 100% !important;
  display: flex !important;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: right;
  background: rgba(0, 0, 0, 0.5);
  margin: auto !important;
}

.modal.show .modal-dialog.right-aligned-modal {
  transform: none !important;
}

.modal.fade .modal-dialog.right-aligned-modal {
  transition: transform 0.3s ease-out;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  transition-property: transform;
  transform: translate(50px, 0);
}

.right-aligned-modal .modal-content {
  max-width: 1250px;
  min-height: 100vh;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.right-aligned-modal .modal-content .modal-body {
  padding: 32px 42px;
}

.list-steps {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
.list-steps .step {
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.list-steps .step h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.list-steps .disable h5 {
  color: #959595;
}

.list-steps .step::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 6px;
  border-radius: 16px;
  background-color: #f8af2c;
}
.list-steps .disable::before {
  background-color: #e5e5e5 !important;
}

.formik-box {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 32px;
}

.formik-box .stor-flex-box {
  text-align: left;
  width: 100%;
}

.formik-box .stor-flex-box h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #084892;
  margin-bottom: 24px;
  border-bottom: 2px solid #f8af2c;
  width: fit-content;
  padding-bottom: 2px;
}

.formik-box .input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  width: 100%;
  margin-bottom: 16px;
}

.input-box label {
  color: #515151;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.input-box label img {
  width: auto;
}
.formik-box .input-flex-box {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
}
.formik-box .input-box input,
textarea {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid #515151;
  border-radius: 4px;
  text-indent: 10px;
  padding: 8px;
  color: #515151;
}

.formik-box textarea {
  min-height: 84px;
}
.formik-box .input-box .error {
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
  color: red;
  margin: 0;
}

.right-aligned-modal {
  position: relative;
}

.form-btn {
  position: absolute;
  right: 90px;
  bottom: -55px;
}

.product-heading {
  color: #084892;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 32px;
}

/* upload */
.curriki-image-update-util {
  width: 100%;
  background-color: #000;
  border-radius: 8px;
}
.curriki-image-update-util .box-section {
  width: 100%;
  height: 220px;
  background: #f7faff;
  position: relative;
  border: 1px dashed #084892;
  border-radius: 8px;
}

.curriki-image-update-util .thumbnail {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.curriki-image-update-util .overlay {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #084892;
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.curriki-image-update-util .overlay input {
  max-width: fit-content;
  padding: 0 !important;
  height: auto;
  border: none;
  border-radius: 0;
  background: transparent;
}

.img-button {
  position: relative;
  width: fit-content;
  height: auto;
}

.curriki-image-update-util .overlay .overlay-drag-image {
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
}
.curriki-image-update-util .overlay .overlay-drag-image-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;
}
.curriki-image-update-util .overlay .overlay-drag-image-or {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;
  position: relative;
}
.curriki-image-update-util .overlay .overlay-drag-image-or::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 25px;
  width: 68px;
  height: 0.5px;
  background-color: #fff;
}
.curriki-image-update-util .overlay .overlay-drag-image-or::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 25px;
  width: 68px;
  height: 0.5px;
  background-color: #fff;
}
.curriki-image-update-util .overlay .overlay-drag-brows-btn {
  padding: 8px 16px;
  min-width: 120px;
  min-height: 32px;
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 0px 2px 8px 1px rgba(81, 81, 81, 0.16);
  border-radius: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #084892;
}

.stor-flex-box .check-box {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-bottom: 22px;
}
.stor-flex-box .check-box .check {
  display: flex;
  align-items: center;
}
.stor-flex-box .check-box .check input {
  width: 18px;
  height: 18px;
}
.stor-flex-box .check-box .check label {
  color: #515151;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  margin-left: 8px;
}

/* card */

.license-card-box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.uploaded-image {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}

.lic-cards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  width: 30%;
}
.lic-cards .c2e-linc-card {
  flex: 1 0 158px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 8px 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: #fff;
}
.lic-cards .c2e-linc-card p {
  color: #515151;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}
.lic-cards .c2e-linc-card .lic-bg-image {
  height: 112px;
  width: 100%;
  align-self: stretch;
  border-radius: 8px;
  background: lightgray;
  overflow: hidden;
}
.lic-cards .c2e-linc-card h4 {
  color: #000;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

/*  */
.modal-title-heading {
  width: 100%;
  text-align: left;
  margin: 32px 0 42px 0;
}

.modal-title-heading h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #084892;
  margin-bottom: 2px;
  display: flex;
  align-items: flex-start;
}
.modal-title-heading h2,
.royalty-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #084892;
  margin-bottom: 4px;
}
.royalty-heading {
  margin-bottom: 32px;
}
.modal-title-heading h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #515151;
  margin-bottom: 8px;
  display: flex;
  align-items: flex-start;
}

.modal-title-heading h3 img,
.modal-title-heading h1 img {
  width: 21px;
  height: auto;
  margin-right: 4px;
}

.modal-title-heading p {
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
}

.modal-title-heading p span {
  font-weight: 400;
  font-size: 16px;
  color: #515151;
  margin-left: 4px;
}

.close-btn {
  border: none !important;
  outline: none;
  background: transparent;
  position: absolute;
  top: 30px;
  right: 30px;
}

/*  */

.royalty-modal .fade.modal.show {
  background: #000;
}

[aria-label="royalty-modal"] {
  background: rgba(22, 22, 22, 0.301) !important;
}

.royalty-modal-content .modal-body {
  padding: 24px 24px 36px 24px;
}

/* royalty-accordion  */

.royalty-accordion
  .accordion
  .accordion-item
  .accordion-header
  .accordion-button {
  padding: 0 16px 0 0;
}

.royalty-accordion .accordion .accordion-item {
  border: none !important;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 8px;
  border-radius: 8px;
  overflow: hidden;
}

.royalty-accordion .accordion .accordion-item .accordion-body {
  border-top: 1px solid #dddddd;
  margin-top: 12px;
}

.royalty-accordion
  .accordion
  .accordion-item
  .accordion-header
  .accordion-button:not(.collapsed) {
  background-color: #ffffff !important;
  box-shadow: none !important;
}

.royalty-accordion
  .accordion
  .accordion-item
  .accordion-header
  .accordion-button::after {
  background-image: url("assets/images/icons/down-icon-blue.svg") !important;
}

.royalty-accordion .accordion .ass-header-info {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 24px;
}

.royalty-accordion .accordion .ass-header-info img {
  width: 165px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.royalty-accordion .accordion .ass-header-info .info-detail {
  width: 100%;
  padding: 8px 0;
}
.royalty-accordion .accordion .ass-header-info .info-detail h3 {
  color: #767676;
  text-align: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}
.royalty-accordion .accordion .ass-header-info .info-detail p {
  color: #767676;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
